<button id="btn" (click)="GenerateFactoryTable()">Click me</button>
<div class="container">
  <div class="outline-box" style="margin-top: 32px">

    <mat-table #table [dataSource]="factories">
      <ng-container matColumnDef="Id">
        <mat-header-cell *matHeaderCellDef>#</mat-header-cell>
        <mat-cell *matCellDef="let factory; ">{{factory.id}}</mat-cell>
      </ng-container>

      <ng-container matColumnDef="Level">
        <mat-header-cell *matHeaderCellDef>Level</mat-header-cell>
        <mat-cell *matCellDef="let factory">
          {{factory.level}}
        </mat-cell>
      </ng-container>

      <ng-container matColumnDef="Salary">
        <mat-header-cell *matHeaderCellDef>salary</mat-header-cell>
        <mat-cell *matCellDef="let factory">{{factory.salary}}</mat-cell>
      </ng-container>

      <ng-container matColumnDef="Work">
        <mat-header-cell *matHeaderCellDef>Work</mat-header-cell>
        <mat-cell *matCellDef="let factory">
          <button (click) = "work(factory.id)" >Work</button>
        </mat-cell>
      </ng-container>

      <mat-header-row *matHeaderRowDef="displayedColumns"></mat-header-row>
      <mat-row *matRowDef="let row; columns: displayedColumns"></mat-row>

    </mat-table>
  </div>
</div>
